{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <h1>All articles : </h1>
    {% for article in articles %}
        <div>
            <h2><a href="{{ path('article_show',{'id': article.id}) }}">{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</a></h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
    <a href="{{ path('blog_index') }}">
        Back to homepage.
    </a>

{% endblock %}
