{% extends 'base.html.twig' %}

{% block body %}
    <h1>article {{ article.id }}</h1>
    <h2> {{article.title}}</h2>
    <h6>Article category : {{ article.category.name }}</h6>
    <p>{{article.content}}</p>

    <strong>Tags :</strong>
    <ul>
        {% if article.tag %}
            <li>{{ article.tag.name }} </li>
        {% endif %}
    </ul>

{% endblock %}